<div class="card" style="width: 11.5rem">
  <a href=""
    ><img
      src="https://m.media-amazon.com/images/M/MV5BODljOTY2NzEtZGM1OC00MGM3LWIxZTYtOTg0NmIzNzg1ZjUzXkEyXkFqcGdeQXVyMTU5OTA4NTIz._V1_QL75_UX280_CR0,0,280,414_.jpg"
      alt="..."
  /></a>
  <div class="card-body terciary px-1 py-2">
    <div
      class="d-flex p-1 container-stars position-relative align-items-center"
    >
      <h5
        class="card-title fs-6 text-light text-opacity-75 align-items-baseline m-0"
      >
        <i class="fa-solid fa-star"></i> 9,3
      </h5>
      <button
        id="fav"
        class="d-flex justify-content-center ms-2 align-items-center"
      >
        <i id="star" class="fa-regular fa-star"></i>
      </button>
    </div>
    <div class="movie-title">
      <a href="" style="text-decoration: none"
        ><p class="card-text text-light ms-1">{{ titleCard }}</p></a
      >
    </div>
    <div class="d-flex justify-content-center flex-column">
      <a href="#" class="follow p-2 rounded-1 text-decoration-none mb-3"
        >+ Lista de visualiz...</a
      >
      <div class="text-light d-flex justify-content-center">
        <button
          id="fav"
          class="btn text-light fs-6 d-flex play align-items-center movie-trailer"
        >
          <a href="" class="text-light"><i class="fa-solid fa-play me-2"></i> Trailer</a>
        </button>
      </div>
    </div>
  </div>
</div>
