<div
  class="menu vw-100 vh-100 secondary-bg-color position-absolute menu-hidden"
  [ngClass]="{ 'menu-opened': isOpened }"
>
  <div class="container">
    <div class="d-flex mb-5 pt-5 justify-content-between">
      <a class="logo btn fs-1dot5 p-1 me-3" href="/"> My-IMDB </a>
      <button class="btn btn-warning rounded-circle px-3" (click)="closeMenu()">
        <fa-icon [icon]="faXmark"></fa-icon>
      </button>
    </div>
    <div class="d-flex">
      <app-links
        *ngFor="let item of items"
        [icon]="item.icon"
        [title]="item.title"
        [items]="item.subItems"
        class="me-5"
      ></app-links>
    </div>
  </div>
</div>
