<div
  class="modal fade"
  id="menuModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content secondary-bg-color">
      <div class="modal-body">
        <div class="container">
          <div class="d-flex mb-5 pt-5 justify-content-between">
            <a class="logo btn fs-1dot5 p-1 me-3" href="/"> My-IMDB </a>
            <button
              class="btn btn-warning rounded-circle px-3"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <fa-icon [icon]="faXmark"></fa-icon>
            </button>
          </div>
          <div class="d-flex">
            <app-links
              *ngFor="let item of items"
              [icon]="item.icon"
              [title]="item.title"
              [items]="item.subItems"
              class="me-5"
            ></app-links>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
