.tittle-movies::before{
    content: "";
    position: absolute;
    margin-left: -12px;
    width: 4px;
    height: 105%;
    border-radius: 2px;
    background: var(--primary-color);
    align-self: center;
    padding-right: 5px;

    
} 
.tittle-movies{
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
}


.tittle-movies:hover i{
    color: var(--primary-color);


}

.container-tittle p{
    transform: translateX(-13px);
    font-weight: 400;
    /* padding-left: 10rem; */
}

.container-tittle {
    padding-left: 22rem;
}

.container-cards {
    padding-left: 21rem;
    padding-right: 21rem;
}
