<div class="pt-5 d-flex flex-column container-tittle">
  <h2
    class="text-light tittle-movies d-flex position-relative align-items-center"
  >
    Favoritos de los seguidores <i class="fa-solid fa-angle-right ps-2"></i>
  </h2>
  <p class="text-light text-opacity-75">
    Los mejores programas y películas de esta semana
  </p>
</div>
<div class="container-cards d-flex gap-4 justify-content-center">
  <!-- <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><app-card-movies/></ng-template> 
  </owl-carousel-o> -->
  <app-card-movies
    *ngFor="let item of movieCollection"
    [titleCard]="item.titleMovie"
    [imageCard]="item.movieImage"
    [calificacion]="item.calificacion"
    [trailer]="item.trailer"
  ></app-card-movies>
</div>
