.tittle-movies::before{
    content: "";
    position: absolute;
    margin-left: -12px;
    width: 4px;
    height: 105%;
    height: 105%;
    border-radius: 2px;
    background: var(--primary-color);
    align-self: center;
    padding-right: 5px;

    
} 
.tittle-movies{
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
}


.tittle-movies:hover i{
    color: var(--primary-color);


}

.container-tittle p{
    transform: translateX(-13px);
    font-weight: 400;
    /* padding-left: 10rem; */
}

.container-tittle {
    padding-left: 22rem;
}

.container-cards {
    width: 65%;
    margin: auto;
}

@media (max-width: 1600px) {
    .container-cards {
        width: 80%;
    }
    .container-tittle{
        padding-left: 13.5rem;
    }
}

@media (max-width: 1400px) {
    .container-cards {
        width: 85%;
    }
    .container-tittle{
        padding-left: 7.5rem;
    }
}

@media (max-width: 1200px) {
    .container-tittle{
        padding-left: 6.5rem;
    }
}

@media (max-width: 992px) {
    .container-tittle{
        padding-left: 5.5rem;
    }
}

@media (max-width: 768px) {
    .container-tittle{
        padding-left: 4rem;
    }
}

@media (max-width: 576px) {
    .container-cards {
        width: 80%;
    }
    .container-tittle{
        padding-left: 2rem;
    }
}
