/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --main-bg-color: #000;
  --secondary-bg-color: #121212;
  --secondary-color: #000;
  --primary-color: #FAC539;
  --main-font-family: 'Roboto', sans-serif;
  --main-font-size: 16px;
}

html {
  font-size: var(--main-font-size);
}

body {
  background-color: var(--main-bg-color);
  font-family: var(--main-font-family);
}

.fs-1dot5 {
  font-size: 1.5rem;
}

.secondary-bg-color {
  background-color: var(--secondary-bg-color);
}

.logo {
  --bs-btn-font-weight: bold;
  --bs-btn-color: var(--secondary-color);
  --bs-btn-bg: var(--primary-color);
  --bs-btn-hover-color: var(--secondary-color);
  --bs-btn-hover-bg: var(--primary-color);
  font-family: 'Roboto', sans-serif;
}
